  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-image: url("cheeseback.jpg") }
  ul.navbar {
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;}
  ul.navbar li {
    background: orange;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid yellow;
	border-left: 1em solid yellow}
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: black }
  a:visited {
    color: grey }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
img {
    max-width: 100%;
    max-height: 100%;
}
table {
    border-collapse: collapse;
	width: 100%;
}
th {
	height: 50px;
	background-color: yellow;
}
tr:nth-child(even) {background-color: white}
tr:nth-child(odd) {background-color: #ADD8E6}
tr:hover {background-color: black;color: orange}
table,th,td {
	border: 3px solid black;
}

.portrait {
    width: 1000px;
}